{% include "basic.html" %}
{% load static %}
<h1 class="text-center">মোসলেমগঞ্জ</h1>
<pre>
        উদয়পুর ইউনিয়ানের বহুল পরিচিত একটি প্রাচীন বাজারের নাম মোসলেমগঞ্জ বাজার। মোসলেমগঞ্জ বাজারে সপ্তাহে দুই দিন হাট বসে মঙ্গলবার ও শুক্রবার। মোসলেমগঞ্জ বাজার প্রায় সব রকমের দোকান দিয়ে পরিপূর্ণ,আপনার
        দরকারি এমন কোনো জিনিস নাই যা আপনি এই বাজারে পাবেন না । উদয়পুর ইউনিয়ানের একটি ঐতিহ্যবাহি বাজার হলো মোসলেমগঞ্জ বাজার।এই বাজারে অবস্থিত একটি সুনামধন্য প্রতিষ্ঠান মোসলেমগঞ্জ উচ্চ বিদ্যালয় যার নাম
        করন করা হয় বাজারের নাম অনুসারে ।
</pre>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/bayezid.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bayezid</h5>
                  <p class="card-text">Hey..I'm Bayezid.I'm a Programmer.I love coding.Python is my favourite programming language. </p>
                  <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/bayezid.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bayezid</h5>
                  <p class="card-text">Hey..I'm Bayezid.I'm a Programmer.I love coding.Python is my favourite programming language. </p>
                  <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/bayezid.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bayezid</h5>
                  <p class="card-text">Hey..I'm Bayezid.I'm a Programmer.I love coding.Python is my favourite programming language. </p>
                  <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<footer class="bg-success">
    <p class="text-center text-white">© Copyright 2025 Moslemgonj. All Rights Reserved,Daveloper by Bayezid</p>
    </footer>